# ========================================
# 🚀 Git Ignore for Modular-Multi-Loader
# ========================================

# 📌 Ignore Gradle cache and build directories
/.gradle/
plugins/.gradle
/plugins/build
/core/app/platform/fabric/.gradle

# ✅ Allow Gradle Wrapper files (ensures Gradle is tracked)
!gradle/
!gradle/wrapper/**

# 📌 Ignore IDE and system-specific files
/.idea/
/.gitattributes

# 📌 Ignore build-related directories
/build/
.run/
.out/
.docs/

# 📌 Ignore run test directories
/core/app/platform/fabric/run
/core/app/platform/forge/run
/core/app/platform/neoforge/run
/core/app/platform/forge/build
